# Environments
.env
.secret_key
.venv/
venv/
.DS_Store
.coverage
.coveragerc
.vscode
coverage.json

# Data, Logs & Caches
json/
db/
logs/
backup/
uploads/
htmlcov/

# Python
__pycache__/
./modules/__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
